@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Sono&family=Tilt+Prism&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


*>*{
 font-family: 'Roboto', sans-serif;
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-size: 62,5%;
}
body{
@apply bg-gray-300;
@apply text-gray-600;
}

.hidden{
    display: none;
}
::-webkit-scrollbar{
    opacity: 0;
}

.closeMenu{
position: absolute;
bottom: 100%;
opacity: 0;
transition: .5s ease-in-out;
}

.compCartStyle{
    border: solid 1px #6a6a6a;
    background-color: #FFF;
}

.fixedMenuHidden{
    height: 0px;
    opacity: 0;
    transition: .5s;
}